@{
    ViewData["Title"] = "Index";
}

<h2>Index</h2>

<table style="width:100%">
  @for (int i = 0; i < 5; i++)
  {
    <tr>
        <th>Firstname</th>
        <th>Lastname</th>
        <th>Age</th>
    </tr>
  }
</table>